@import "../../../../styles/colors.scss";

.logo {
  width: 350px;
  height: 100px;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  line-height: 10px;
  color: $textColor;
  transform: rotateY(30deg) rotateX(-25deg);
  font-weight: bold;
}
