@import "../../../../styles/colors.scss";
@import "../../../../styles/button.scss";
@import "../../../../styles/positions.scss";
.popup {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__header {
    background-color: $pink;
    text-align: center;
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    text-wrap: balance;
    text-align: center;

    &--text {
      color: $secondary-color;
      padding-right: 20px;
      font-size: 30px;
    }
    &__button {
    }
  }
}
