<div class="table__container">
  <table class="table__grid">
    <thead>
      <tr class="table__grid--filters">
        <span class="filter-header">Filter by actions:</span>
        <span
          class="filter-item"
          [ngClass]="{
            'filter-active': filteredValue === GameStatusEnum.UNKNOWN
          }"
          (click)="filter(GameStatusEnum.UNKNOWN)"
          >All</span
        >
        <span
          [ngClass]="{ 'filter-active': filteredValue === GameStatusEnum.INIT }"
          class="filter-item"
          (click)="filter(GameStatusEnum.INIT)"
          >Start playing</span
        >
        <span
          [ngClass]="{
            'filter-active': filteredValue === GameStatusEnum.READY
          }"
          class="filter-item"
          (click)="filter(GameStatusEnum.READY)"
          >Game over</span
        >
        <span
          [ngClass]="{
            'filter-active': filteredValue === GameStatusEnum.STARTED
          }"
          class="filter-item"
          (click)="filter(GameStatusEnum.STARTED)"
          >Start next game</span
        >
        <span
          [ngClass]="{
            'filter-active': filteredValue === GameStatusEnum.PAUSED
          }"
          class="filter-item"
          (click)="filter(GameStatusEnum.PAUSED)"
          >Paused</span
        >
      </tr>
      <tr>
        <th>
          <div class="table__grid--header">
            <ng-container
              [ngTemplateOutlet]="sortTemplate"
              [ngTemplateOutletContext]="{
                data: { type: 'normal', column: GameplayColumnsEnum.INDEX }
              }"
            />#
          </div>
        </th>
        <th>
          <div class="table__grid--header">
            <ng-container
              [ngTemplateOutlet]="sortTemplate"
              [ngTemplateOutletContext]="{
                data: { type: 'normal', column: GameplayColumnsEnum.ACTION }
              }"
            />Action
          </div>
        </th>
        <th>
          <div class="table__grid--header">
            <ng-container
              [ngTemplateOutlet]="sortTemplate"
              [ngTemplateOutletContext]="{
                data: { type: 'normal', column: GameplayColumnsEnum.DATE }
              }"
            />Date
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      @if(this.dataSource().length === 0) {
      <div class="no-result">No result</div>
      } @else { @for (item of dataSource(); track item.index; let index =
      $index; let isEven=$even) {
      <tr [class]="isEven ? 'even-row' : 'odd-row'">
        <td>
          {{ item.index }}
        </td>
        <td>{{ item.action | status }}</td>
        <td>
          {{ item.date | date : "medium" }}
        </td>
      </tr>
      } }
    </tbody>
  </table>

  <ng-template #sortTemplate let-data="data">
    @switch (data.type) { @case ('normal') {
    <span (click)="sort(data.column, 'asc'); data.type = 'asc'">
      <img src="../../../assets/img/normal.svg" class="sort-icon" />
    </span>
    } @case ('asc') {
    <span (click)="sort(data.column, 'desc'); data.type = 'desc'">
      @if (data.column === sortedColumn) {
      <img src="../../../assets/img/asc.svg" class="sort-icon" />
      } @else {
      <img src="../../../assets/img/normal.svg" class="sort-icon" />
      }
    </span>

    } @case ('desc') {
    <span (click)="sort(data.column, 'normal'); data.type = 'normal'">
      @if (data.column === sortedColumn) {
      <img src="../../../assets/img/desc.svg" class="sort-icon" />
      } @else {
      <img src="../../../assets/img/normal.svg" class="sort-icon" />
      }
    </span>
    } }
  </ng-template>
</div>
