@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import "../src/app/styles/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mouse Memoirs", sans-serif;
  color: $primary-color;
}
